/* players style */


body {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.player {

    display: flex;

}

.player img {

    width: 56px;
    height: 56px;
    align-items: center;

}

.player-name {
    padding-left: 16px;
    font-size: 18px;

}

.width-bg {

    width: 870px;
    background-color: #efefef;

}

.player-litle {

    color: rgba(86, 46, 255, 1);
    font: 20px;
    margin-top: 3px;
}

.container {

    display: flex;
    justify-content: center;
}

.players {
    padding: 30px;


}

hr {
    border: 1px solid #D1D1D1;
}

.player-litle {
    margin-bottom: 2px;
}

/* =====----------------
this is blog section
-------===---------------- */
.blog-container img {
    width: 224px;
    height: 127px;
    padding-left: 16px;

}

.blog-detailes {

    display: flex;

}

.blog-taitle {
    margin-left: 16px;
}

.top-blog {
    color: rgba(86, 46, 255, 1);
    font-size: 24px;
    padding-left: 16px;
}

.blog-taitle a {
    text-decoration: none;
    color: rgba(86, 46, 255, 1);
}

.maker-nana {

    color: gray;
}

.blogs{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}